html, body {
    background-color: #f5f5f5;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #CCC;
    padding: 15px;
    min-width: 900px;
    margin: auto;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.task-items-list {
    margin-left: 20px;
}

.skill-list {
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    gap: 5px;
    width: 100%;
}

.skill-list li {
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    min-width: 50px;
}

.list-even li {
    background: rgb(190, 190, 190);
}

.list-odd li {
    background: rgb(220, 220, 220);
}

.title-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-line-before {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #b3b3b3;
    margin: 0 10px;
}

.title-line-after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #b3b3b3;
    margin: 0 10px;
}

h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

a {
    color: #000000;
    text-decoration: none;
}


@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #121212;
        color: #E0E0E0;
    }

    .container {
        background-color: #1E1E1E;
        color: #E0E0E0;
        border: 1px solid #333;
    }

    .list-even li {
        background: rgb(70, 70, 70);
    }

    .list-odd li {
        background: rgb(110, 110, 110);
    }

    a {
        color: #E0E0E0;
    }
}